<div class="container">
<h1>Create new post</h1>
<p><%= @error %></p>
<form name="new_post" method="post">
<table>
<tr>
<td width="70px">Author:</td>
<td>
<input type="text" name="author" autofocus>
</td>
</tr>
<tr>
<td width="70px">Title:</td>
<td>
<input type="text" name="title">
</td>
</tr>
<tr>
<td width="70px">Contents:</td>
<td>
<textarea name="content" rows="10"></textarea>
</td>
</tr>
<tr>
<td width="70px">Tags:</td>
<td>
Enter some tags, saperated by commas<br>
<input type="text" name="tags">
</td>
</tr>
<tr>
<td colspan="2">
<input type="submit" value="Create post" class="button">
</td>
</tr>
</table>
</form>
</div>