<div class="container">

<h1>All of Your Properties</h1>

<div class="row">
  <div class="col-md-1">KL Apartment @ Times Square </div><br>
  <div class="col-md-1">KL Plaza Suites</div><br>
  <div class="col-md-1">Seri Bukit Ceylon</div><br>
  <div class="col-md-1">Prima Setapak</div><br>
  <div class="col-md-1">Kondominium Seri Intan</div><br>
</div>

  <form action="/edit_post" method="get">
  <p>Update properties?<p>
    <input type="submit">
    <br>
  </form>

  <form action="/delete_post" method="get">
  <p>Delete properties?<p>
    <input type="submit">
    <br>
  </form>

  <form action="/new_post" method="get">
  <p>Create new properties?<p>
    <input type="submit">
    <br>
  </form>

</div>